.login-from{
    border: 2px solid rgb(255,189,194);
    width: 300px;
    height: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.login-from input{
    width: 200px;
    padding: 5px;
    margin-bottom: 20px;
}

.login-from  button{
   width: 215px;
   display: block;
   margin-bottom: 10px;
   padding: 5px;
}
.login-from div{
    width: 200px;
    margin: auto;
}

.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.checkout-form-container{
    padding: 40px;
}

.log-in-header{
    text-align: center;
}


.btn{
    border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-family: 'proxima-nova', Helvetica, sans-serif;
  
      background-color: rgb(255,189,194);
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      line-height: 17px;
      height: 34px;
      padding: 7px 15px 8px;
      margin-top: 0px;
      margin-bottom: 0;
      margin-right: 10px;
  }
  
  .btn:hover, .btn.is-hovering{
    background-color: #696969;
    border-color: rgba(0, 0, 0, 0.972);
    color: #FFF;
  }