.product-image img{
 height: 150px;
 width:150px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 
}

.product-card-parent{
    margin-right: 20px;
    transition: all .2s ease-in-out;
}

.cart-info{
    text-align: center;
}

.product-card-parent:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.product-card{
    width: 160px;
    padding: 10px;
    border: 2px solidrgb(77, 77, 77);
}
#name{
    padding-top: 4px;
    color: rgb(119, 119, 119);
}