.showProduct{
    display: flex;
    margin: 60px;
    
}
.description{
    padding-left:40px;
}
#shipping{
    color:rgb(255,199,188);
}
/* #price{
    color: rgb(93, 104, 255);
} */
.show-product-image img{
    height: 400px;
    width:380px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   }
   #name{
       margin-top: 0px;
   }
