body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a[href="/register"]{
  text-decoration:none;
}

.not-found{
  width:400px;
  height: 400px;
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/61QzcOL4zSL._SX425_.jpg');
  margin:auto;
  border-radius:50%;
}

.not-found-title{
  text-align: center;
}
